<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-i18n="title">Erwan Luce--Guédon | Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"
      defer
    ></script>
    <script src="assets/js/api-keys.js" defer></script>
    <script src="assets/js/scripts.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <script src="assets/js/vue-scripts.js" defer></script>

  </head>
  <body>
    <header class="header">
      <div class="navbar-container">
        <div class="logo">
          <i class="fas fa-globe-americas"></i>
          <span data-i18n="logo">ELG</span>
        </div>
        <nav class="navbar">
          <ul class="nav-links">
            <li><a href="#about" data-i18n="nav_about">À propos</a></li>
            <li><a href="#education" data-i18n="nav_education">Diplômes</a></li>
            <li>
              <a href="#experience" data-i18n="nav_experience">Expérience</a>
            </li>
            <li><a href="#skills" data-i18n="nav_skills">Compétences</a></li>
            <li><a href="#projects" data-i18n="nav_projects">Portfolio</a></li>
            <li>
              <a href="#certifications" data-i18n="nav_certifications"
                >Certifications</a>
            </li>
            <li><a href="#contact" data-i18n="nav_contact">Me contacter</a></li>
          </ul>
        </nav>
        <div class="header-icons">
          <a href="#" id="cv-download" class="cv-download" data-i18n="download_cv">
            <i class="fas fa-download"></i> CV
          </a>                   
          <div class="language-selector-container">
            <img src="assets/images/earth.png" alt="Planète" />
            <select id="lang" name="lang" class="language-selector">
              <option value="fr" data-i18n="lang_fr" selected>Français</option>
              <option value="en" data-i18n="lang_en">Anglais</option>
              <option value="es" data-i18n="lang_es">Espagnol</option>
            </select>
          </div>
        </div>
        
    </header>

    <section class="cover-section" id="home">
      <div class="cover-video-overlay"></div>
      <div class="cover-content">
        <h1 data-i18n="cover_title">Bienvenue sur Mon Portfolio</h1>
        <p data-i18n="cover_description">
          Développeur | Transformons des idées en solutions
          concrètes
        </p>
        <a href="#about" class="button" data-i18n="learn_more"
          >En savoir plus</a
        >
      </div>
    </section>

    <!-- Section À propos -->
    <section id="about">
      <div class="container about-container">
        <h2 class="about-title" data-i18n="about_title">
          --- <em>À propos</em> ---
        </h2>

        <div class="about-content">
          <div class="profile-photo">
            <img src="assets/images/pdp.png" alt="Photo de profil" />
            <div class="photo-overlay"></div>
          </div>

          <div class="about-details">
            <ul class="tabs">
              <li
                class="tab active"
                data-tab="presentation"
                data-i18n="tab_presentation"
              >
                Présentation
              </li>
              <li class="tab" data-tab="languages" data-i18n="tab_languages">
                Langues
              </li>
              <li
                class="tab"
                data-tab="soft-skills"
                data-i18n="tab_soft_skills"
              >
                Soft Skills
              </li>
              <li class="tab" data-tab="passions" data-i18n="tab_passions">
                Passions
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="presentation">
                <p data-i18n="presentation_content">
                  Je suis Erwan Luce-Guedon, un développeur
                </p>
              </div>

              <div class="tab-pane" id="languages">
                <div class="languages-container">
                  <div class="language">
                    <img
                      src="assets/images/flags/fr.png"
                      alt="Drapeau Français"
                      class="flag"
                    />
                    <h3><em data-i18n="language_fr">Français</em></h3>
                    <p data-i18n="language_fr_level">Langue maternelle</p>
                  </div>
                  <div class="language">
                    <img
                      src="assets/images/flags/en.png"
                      alt="Drapeau Britannique"
                      class="flag"
                    />
                    <h3><em data-i18n="language_en">Anglais</em></h3>
                    <p data-i18n="language_en_level">Niveau B2</p>
                  </div>
                  <div class="language">
                    <img
                      src="assets/images/flags/es.png"
                      alt="Drapeau Espagnol"
                      class="flag"
                    />
                    <h3><em data-i18n="language_es">Espagnol</em></h3>
                    <p data-i18n="language_es_level">Niveau B1</p>
                  </div>
                  <div class="language">
                    <img
                      src="assets/images/flags/cn.png"
                      alt="Drapeau Chinois"
                      class="flag"
                    />
                    <h3><em data-i18n="language_cn">Chinois</em></h3>
                    <p data-i18n="language_cn_level">Niveau A2</p>
                  </div>
                </div>
              </div>

              <!-- Soft Skills -->
              <div class="tab-pane" id="soft-skills">
                <p data-i18n="soft_skills_content">
                  Travail en équipe, Autonomie, Résolution de problèmes,
                  Communication efficace, Gestion du temps.
                </p>
              </div>

              <!-- Passions -->
              <div class="tab-pane" id="passions">
                <p data-i18n="passions_content">
                  Passionné de sports, de voyages et d'informatique. J'aime explorer de nouvelles cultures et capturer des moments uniques.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section Diplômes-->
    <section id="education" class="timeline-section">
      <h2 data-i18n="education_title">Diplômes</h2>
      <div class="timeline">
        <div class="timeline-item right">
          <div class="timeline-dot"></div>
          <div class="timeline-content">
            <h3 data-i18n="degree_bachelor">Bachelor Informatique</h3>
            <p data-i18n="degree_bachelor_institution">ESGI, Paris 12ème</p>
            <p data-i18n="degree_bachelor_modules">
              Modules : Développement Web, Langage C, SQL, Linux et Réseaux.
            </p>
          </div>
          <div class="timeline-date">2023 - Présent</div>
        </div>
        <div class="timeline-item left">
          <div class="timeline-dot"></div>
          <div class="timeline-content">
            <h3 data-i18n="degree_baccalaureat">Baccalauréat Général</h3>
            <p data-i18n="degree_baccalaureat_institution">
              Lycée Évariste Galois, Sartrouville
            </p>
            <p data-i18n="degree_baccalaureat_specialties">
              Spécialités : Mathématiques, NSI.
            </p>
          </div>
          <div class="timeline-date">2020 - 2023</div>
        </div>
        <div class="timeline-item right">
          <div class="timeline-dot"></div>
          <div class="timeline-content">
            <h3 data-i18n="degree_brevet">Brevet des Collèges</h3>
            <p data-i18n="degree_brevet_institution">
              Collège Colette, Sartrouville
            </p>
          </div>
          <div class="timeline-date">2016 - 2020</div>
        </div>
      </div>
    </section>

    <!-- Section Expérience Professionnelle -->
    <section id="experience" class="timeline-section">
      <h2 data-i18n="experience_title">Expérience Professionnelle</h2>
      <div class="timeline">
        <div class="timeline-item left">
          <div class="timeline-dot"></div>
          <div class="timeline-content">
            <h3 data-i18n="experience_mcdonalds_title">
              Employé chez McDonald's
            </h3>
            <p data-i18n="experience_mcdonalds_institution">
              McDonald's, Colombes
            </p>
            <p data-i18n="experience_mcdonalds_details">
              Temps Partiel : Octobre 2024 - Présent
            </p>
          </div>
          <div class="timeline-date">Octobre 2024 - Présent</div>
        </div>
        <div class="timeline-item right">
          <div class="timeline-dot"></div>
          <div class="timeline-content">
            <h3 data-i18n="experience_quick_title">Employé chez Quick</h3>
            <p data-i18n="experience_quick_institution">Quick, Sartrouville</p>
            <p data-i18n="experience_quick_details">
              CDI Temps Partiel : Avril 2024 - Juin 2024
            </p>
          </div>
          <div class="timeline-date">Avril 2024 - Juin 2024</div>
        </div>
        <div class="timeline-item left">
          <div class="timeline-dot"></div>
          <div class="timeline-content">
            <h3 data-i18n="experience_monoprix_title">Vendeur</h3>
            <p data-i18n="experience_monoprix_institution">Monoprix, Sartrouville</p>
            <p data-i18n="experience_monoprix_details">
              CDD Temps Partiel : Février 2024 - Avril 2024
            </p>
          </div>
          <div class="timeline-date">Avril 2024 - Juin 2024</div>
        </div>
      </div>
    </section>

    <!-- Section Compétences -->
    <section id="skills">
      <div class="container">
        <h2 data-i18n="skills_title">Compétences</h2>
        <div class="skills-grid">
          <div class="skill-category">
            <h3 data-i18n="skill_web">Web</h3>
            <ul>
              <li data-i18n="skill_web_html_css_js">HTML / CSS / JS</li>
              <li data-i18n="skill_web_php">PHP</li>
              <li data-i18n="skill_web_angular">Angular</li>
              <li data-i18n="skill_web_typescript">Typescript</li>
              <li data-i18n="skill_web_nodejs">NodeJs</li>
            </ul>
          </div>

          <div class="skill-category">
            <h3 data-i18n="skill_db">Base de données</h3>
            <ul>
              <li data-i18n="skill_db_mysql">MySQL</li>
              <li data-i18n="skill_db_sqlite">SQLite</li>
              <li data-i18n="skill_db_oracle">Oracle</li>
              <li data-i18n="skill_db_pdo">PDO</li>
            </ul>
          </div>

          <div class="skill-category">
            <h3 data-i18n="skill_programming">Programmation</h3>
            <ul>
              <li data-i18n="skill_programming_c">C</li>
              <li data-i18n="skill_programming_python">Python</li>
              <li data-i18n="skill_programming_vba">VBA</li>
            </ul>
          </div>

          <div class="skill-category">
            <h3 data-i18n="skill_other">Autres</h3>
            <ul>
              <li data-i18n="skill_other_premiere_pro">Premiere pro</li>
              <li data-i18n="skill_other_photoshop">Photoshop</li>
              <li data-i18n="skill_other_blender">Blender</li>
              <li data-i18n="skill_other_git">Git</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="projects" class="portfolio-section">
      <div class="container" id="projectsApp">
        <h2>Projets</h2>
        <div class="project-filters">
          <button v-for="category in categories" :key="category" @click="filterCategory(category)">
            {{ category }}
          </button>
        </div>
        <div class="portfolio-container">
          <div class="card" v-for="project in filteredProjects" :key="project.id">
            <h2>{{ project.title }}</h2>
            <img :src="project.image" :alt="project.title" />
            <div class="tags">
              <span
                v-for="tag in project.tags"
                :key="tag"
                class="tag"
                :class="tag.toLowerCase()"
              >
                {{ tag }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <section id="certifications" class="certifications-section">
      <div class="container" id="certificationsApp">
        <h2>Certifications</h2>
        <div class="certification-filters">
          <button v-for="category in categories" :key="category" @click="filterCategory(category)">
            {{ category }}
          </button>
        </div>
        <div class="certifications-container">
          <div
            class="certification-card"
            v-for="cert in filteredCertifications"
            :key="cert.id"
          >
            <img :src="cert.logo" :alt="cert.name" class="certification-logo" />
            <h3>{{ cert.name }}</h3>
            <p>{{ cert.organization }}</p>
            <p>{{ cert.date }}</p>
          </div>
        </div>
      </div>
    </section>
    

    <!-- Section Contact avec Formulaire -->
    <section id="contact">
      <div class="container">
        <h2 data-i18n="contact_title">Contactez-moi</h2>
        <p data-i18n="contact_description">
          Envoyez-moi un message en remplissant le formulaire ci-dessous :
        </p>
        <form id="contact-form" class="contact-form">
          <div class="form-group">
            <label for="name" data-i18n="contact_label_name">Nom :</label>
            <input
              type="text"
              id="name"
              name="name"
              required
              placeholder="Votre nom"
              data-i18n-placeholder="contact_placeholder_name"
            />
          </div>
          <div class="form-group">
            <label for="email" data-i18n="contact_label_email">Email :</label>
            <input
              type="email"
              id="email"
              name="email"
              required
              placeholder="Votre email"
              data-i18n-placeholder="contact_placeholder_email"
            />
          </div>
          <div class="form-group">
            <label for="subject" data-i18n="contact_label_subject"
              >Sujet :</label
            >
            <input
              type="text"
              id="subject"
              name="subject"
              required
              placeholder="Sujet de votre message"
              data-i18n-placeholder="contact_placeholder_subject"
            />
          </div>
          <div class="form-group">
            <label for="message" data-i18n="contact_label_message"
              >Message :</label
            >
            <textarea
              id="message"
              name="message"
              rows="5"
              required
              placeholder="Votre message"
              data-i18n-placeholder="contact_placeholder_message"
            ></textarea>
          </div>
          <button type="submit" class="button" data-i18n="contact_send">
            Envoyer
          </button>
        </form>
      </div>
      <div class="contact-buttons-container">
        <div class="contact_caps clickableBtn" data-contact="linkedin">
          <img
            class="contact_caps_pic"
            src="assets/images/rs/linkedin.png"
            alt="LinkedIn icon"
          />
          <p class="contact_caps_p" data-i18n="contact_linkedin">LinkedIn</p>
        </div>

        <div class="contact_caps clickableBtn" data-contact="download_cv">
          <img
            class="contact_caps_pic"
            src="assets/images/downloads.png"
            alt="Download icon"
          />
          <p class="contact_caps_p" data-i18n="contact_download_cv">
            Téléchargez ici mon CV
          </p>
        </div>

        <div class="contact_caps clickableBtn" data-contact="github">
          <img
            class="contact_caps_pic"
            src="assets/images/rs/github.png"
            alt="GitHub icon"
          />
          <p class="contact_caps_p" data-i18n="contact_github">GitHub</p>
        </div>
      </div>
    </section>
    <footer>
      <p data-i18n="footer_text">
        &copy; 2024 Erwan Luce--Guédon. Tous droits réservés.
      </p>
    </footer>
  </body>
</html>
